* {
    box-sizing: border-box;
}

body {
    background-color: #fcdede;
    font-family: sans-serif;
}

.pageHeader {
    text-align: center;
    display: block;
    margin: auto;
    padding: 50px;
    color: rgb(56, 140, 145);
}

.pageFooter {
    text-align: center;
    display: block;
    margin: auto;
    padding: 50px;
    color: rgb(56,140,145);
}

.block {
    background-color:#fff;
    color: #388c91;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 50px;
    border-radius: 50px;
    box-shadow: 1px 2px 2px #CCCCCC; 
}
.block-center { 
       display:flex; 
       flex-direction: column;
       background-color: #fff;
       border-radius: 30px;
       
}

.block-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height: 100vh   
}

.headerTitle {
    color: #388c91;
    margin-left: 100px;
}

.largeTitle {
    font-size: 25px;
}

.formHeader {
    margin: auto; 
    align-items: center; 
    display: inline-flex;
}

.topInlineForm {
    display: inline-block;
    align-items: inherit;
    margin: auto;
}

.flexblock {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.blockLocal{
    height: 12vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.blockPesquisar{
    margin-left: 28%;
}

.blockLocais{
    height: 12vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

label {
    margin-bottom: 5px;
}

input {
    border: 1px solid #CCCCCC;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
}

input:focus {
    outline: none;
}
.button {
    color: #388c91;
    border: 1px solid #388c91 ;
    border-radius: 50px;
    min-width: 110px;
    min-height: 40px;
}

.buttonLoginAutenticacao{
    color: #388c91;
    border: 1px solid #388c91 ;
    border-radius: 50px;
    min-width: 110px;
    min-height: 5px;
    margin-bottom: -5px;
}

.buttonCadastroAutenticacao{ 
    color: #388c91;
    border: 1px solid #388c91 ;
    border-radius: 50px;
    min-width: 30px;
    min-height: 5px;
    top: -50px;
}

.tituloSetores{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    color: #388c91;
}

.tituloLabel{
    color: #388c91;
    margin-left: 10%;
}




.tituloMapas{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.buttonSetores{
    color: #388c91;
    border: 1px solid #388c91 ;
    border-radius: 50px;
    min-width: 300px;
    min-height: 50px;
    margin-bottom: 5px;
}

.buttonLocal{
    color: #388c91;
    border: 1px solid #388c91 ;
    border-radius: 50px;
    min-width: 300px;
    min-height: 50px;
}

.pesquisarNome{
    margin-right: 1%;
    text-align: center;
    color: #388c91;
}

.pesquisarQuantidade{
    text-align: center;
    margin-right: 1%;
    margin-left: 2%;
    color: #388c91;

}

.buttonMapa{
    position: absolute;
    right: 7%;
    top: 1.5%;
    margin-top: 1%;
}

.buttonPesquisar{
    margin-left: 1%;
    border-radius: 50%;
    width: 4%;
}

.buttonLocais{
    color: #388c91;
    border: 1px solid #388c91 ;
    border-radius: 50px;
    min-width: 300px;
    min-height: 50px;
}

.buttonMapas{
    color: #388c91;
    border: 1px solid #388c91 ;
    border-radius: 50px;
    min-width: 300px;
    min-height: 50px;
    margin-bottom: 5px;
}

.imagemMapas{
    margin-left: 20%;
}


.buttonsBlockSetores {
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.buttonsBlockMapas {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
}


.btnlink {
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: #FFFFFF;
    color: #388c91;
    border: 1px solid #388c91 ;
    border-radius: 50px;
    min-width: 150px;
    min-height: 40px;
    padding: 2px 6px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input {
    color: #388c91;
    border: 1px solid #388c91 ;
    border-radius: 50px;
    min-width: 100px;
    min-height: 40px;
}

.iconMedium {
    align-self: center;
    max-width: 80px;
    max-height: 80px;
    margin: auto;
}

.iconLarge {
    align-self: center;
    max-width: 150px;
    max-height: 150px;
    margin: auto;
}

.homeIcons {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    min-height: 95%;
    border-radius: 15px;
    flex-direction: column;
    text-decoration: none;
    color: #388c91;
    font-weight: bold;
    opacity: 90%;
    margin-bottom: 1%;
}

    .homeIcons span {
        position: relative;
        transition: 0.5s;
    }

    .homeIcons span:after {
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .homeIcons:hover span {
        padding-right: 25px;
    }

    .homeIcons:hover span:after {
        opacity: 1;
        right: 0;
    }

.logo{
    display: flex;
    min-width: 4px;
    min-height: 500px;
    border-radius: 150px;
    justify-content: center;
    align-items: center;
}

.buttonBack{
    align-self: center;
    max-width: 30px;
    max-height: 30px;
    margin-left: 1%;
    margin-top: 1%;

}

.buttonLoginEntrar{
    color: #388c91;
    border: 1px solid #388c91 ;
    border-radius: 50px;
    min-width: 110px;
    min-height: 5px;
    margin-bottom: -5px;
}

.buttonLoginSair{
    color: #388c91;
    border: 1px solid #388c91 ;
    border-radius: 50px;
    min-width: 110px;
    min-height: 5px;
    margin-bottom: -5px;
    margin-left: 7px;
}

.buttonCadastroConfirma{
    color: #388c91;
    border: 1px solid #388c91 ;
    border-radius: 50px;
    min-width: 110px;
    min-height: 5px;
    margin-bottom: -5px;
    margin-left: 7px;
}

.buttonCadastroSair{
    color: #388c91;
    border: 1px solid #388c91 ;
    border-radius: 50px;
    min-width: 110px;
    min-height: 5px;
    margin-bottom: -5px;
    margin-left: 7px;
}

.buttonTransparent{
    background-color: transparent;
}
.buttonAdicionaLocal{
    color: #388c91;
    border: 1px solid #388c91 ;
    border-radius: 50px;
    min-width: 300px;
    min-height: 50px;
    margin-left: 38.2%;
    margin-bottom: 7px;
    background-color: #7cff48;
}

.buttonImagemConfig{
    position: absolute;
    right: 4%;
    top: 1.5%;
    margin-top: 1%;
}

.buttonLogout {
    position: absolute;
    right: 1%;
    top: 1%;
    margin-top: 1%;
}

@media screen and (max-width: 600px) {
    .block {
        width: 100%;
    }
}

@media screen and (min-width: 600px) {
    .block {
        width: 75%;
    }
}

@media screen and (min-width: 768px) {
    .block {
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .block {
        width: 25%;
    }
}
