* {
    box-sizing: border-box;
}

body {
    background-color: #98a5a2;
    font-family: sans-serif;
}

.pageHeader {
    text-align: center;
    display: block;
    margin: auto;
    padding: 50px;
    color: rgb(56, 140, 145);
}

.pageFooter {
    text-align: center;
    display: block;
    margin: auto;
    padding: 50px;
    color: rgb(56,140,145);
}

.block {
    background-color:#fff;
    color: #388c91;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 50px;
    border-radius: 50px;
    box-shadow: 1px 2px 2px #CCCCCC; 
}
.block-center { 
       display:flex; 
       flex-direction: column;
       background-color: #fff;
       border-radius: 30px;
       
}

.block-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height: 100vh   
}

.headerTitle {
    color: #388c91;
    margin-left: 100px;
}

.largeTitle {
    font-size: 25px;
}

.formHeader {
    margin: auto; 
    align-items: center; 
    display: inline-flex;
}

.topInlineForm {
    display: inline-block;
    align-items: inherit;
    margin: auto;
}

.flexblock {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

label {
    margin-bottom: 5px;
}

input {
    border: 1px solid #CCCCCC;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
}

input:focus {
    outline: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    margin: 10px;
}

.button {
    color: #388c91;
    border: 1px solid #388c91 ;
    border-radius: 50px;
    min-width: 110px;
    min-height: 40px;
}

.btnlink {
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: #FFFFFF;
    color: #388c91;
    border: 1px solid #388c91 ;
    border-radius: 50px;
    min-width: 150px;
    min-height: 40px;
    padding: 2px 6px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input {
    color: #388c91;
    border: 1px solid #388c91 ;
    border-radius: 50px;
    min-width: 100px;
    min-height: 40px;
}

.iconMedium {
    align-self: center;
    max-width: 80px;
    max-height: 80px;
    margin: auto;
}

.iconLarge {
    align-self: center;
    max-width: 150px;
    max-height: 150px;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .block {
        width: 100%;
    }
}

@media screen and (min-width: 600px) {
    .block {
        width: 75%;
    }
}

@media screen and (min-width: 768px) {
    .block {
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .block {
        width: 25%;
    }
}
